.grid-container {
  height: 100%;
  width: 100%;
  font-size:30vh;
  text-align: center;
  display:grid;
  grid-gap: 5px;
  background-color: rgb(248, 93, 3);
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 34% 33%;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 47%;
  background-color: rgb(76, 43, 226);
}

/* iPad Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
    .grid-container {
        background-color: rgb(132, 42, 211);
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 40% 20% 40%;
    }
    .item1 {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 20%;
        background-color: rgb(226, 43, 186);
      }
}

/* iPad Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .grid-container {
        background-color: rgb(222, 201, 241);
        grid-gap: 5px;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 20% 40% 40%;
    }
    .item1 {
        grid-column-start: 2;
        grid-column-end: 5;
        font-size: 30%;
        background-color: rgb(58, 226, 43);
      }
}


